<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="ConnectionStringDB" connectionString="Data Source=.;Initial Catalog=TalentFinder;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
	<add name="MasterDb" connectionString="Data Source=.;Initial Catalog=master;Integrated Security=True" providerName="System.Data.SqlClient" />
    <!--<add name="ConnectionStringDB" connectionString="Data Source=.\SQL_UAI;Initial Catalog=TalentFinder;Integrated Security=SSPI" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="AppName" value="TalentFinder" />
	<add key="nombreBdPrincipal" value="TalentFinder" />
    <add key="CommandCSharpCompiler" value="c:\Windows\Microsoft.NET\Framework\v4.0.30319\csc.exe" />
    <add key="CommandCSharpCompiler1" value="c:\Windows\Microsoft.NET\Framework64\v4.0.30319\csc.exe" />
    <add key="CommandCSharpCompiler2" value="c:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\MSBuild\15.0\Bin\Roslyn\csc.exe" />
	<add key="PathBackupFiles" value="%HOMEDRIVE%\backups\" />
    <add key="CarpetaTalentFinder" value="%HOMEDRIVE%%HOMEPATH%\TalentFinder" />
	<add key="BitacoraPath" value="%HOMEDRIVE%%HOMEPATH%\TalentFinder\logs" />
	<add key="UsuarioAdministradorId" value="5" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>
